body {
	background-image: url("https://i.ibb.co/sg9tCyn/photo-2021-11-22-20-08-47.jpg");
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
}

input#poke-name {
	height: 18px;
	width: 200px;
	padding: 5px;
	font-family: "Roboto Mono", monospace;
	border: 1px solid black;
	border-radius: 2px;
	text-align: center;
	font-size: inherit;
	text-transform: capitalize;
}

#poke-card {
	position: relative;
	height: auto;
	font-family: "Roboto Mono", monospace;
	text-transform: capitalize;
	max-width: 250px;
	border-radius: 4px;
	color: #000;
	text-align: center;
	padding: 10px;
	margin: 30px auto;
	background-color: #fdfefe;
	border: 1px solid black;
}

#poke-card.black {
	background: black;
	color: white;
}

#poke-card::before {
	content: "";
	background: radial-gradient(black 33%, transparent 33%);
	background-size: 3px 3px;
	border-radius: 4px;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: -1;
}

#img-container {
	position: relative;
	width: 180px;
	margin: 10px auto;
}

#poke-stats div {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	padding: 5px;
	font-size: 18px;
}

#poke-types div {
	padding: 5px;
	margin: 5px;
	border-radius: 4px;
	border: 1px dashed currentColor;
}

#poke-img {
	width: 180px;
	border-radius: 50%;
}